body {
  background: linear-gradient(#5d8aa6, #222222) fixed;
}

ul {
  list-style: none;
}

li {
  border-radius: 15px;
  padding: 5px;
  margin: auto;
  color: white;
  background:#66512a;
  width: 350px;
}

.form-group {
  margin-bottom: 5px;
}

#subBox {
  margin-top: -270px;
  margin-bottom: 50px;
}

input {
  width: 200px;
  margin-left: 50px;
}

.buntop {
  margin-bottom: -5px;
  padding-left: 45px;
}

.bunbutt {
  margin-top: -20px;
  padding-left: 45px;
}
.container {
  min-width: 992px;
}

@media (max-width: 1200px) {
  #subBox {
    margin-bottom: 80px;
  }

  .buntop {
    padding-left: 35px;
  }

  .bunbutt {
    padding-left: 40px;
  }

}