body {
  background: linear-gradient(#5d8aa6, #222222) fixed;
}

ul {
  list-style: none;
}

li {
  border-radius: 15px;
  padding: 5px;
  margin: auto;
  color: white;
  width: 330px;
  height: 66px;
}

[data-beef*="true"] {
  margin-top: -2px;
  margin-bottom: -5px;
  padding-top: 12px;
  padding-right: 18px;
  background-image: url("/assets/images/freshbeef.png");
}

[data-beef*="false"] {
  margin-top: -2px;
  margin-bottom: -5px;
  padding-top: 12px;
  padding-right: 18px;
  background-image: url("/assets/images/deadbeef.png");
}

.form-group {
  margin-bottom: 5px;
}

#subBox {
  margin-top: -270px;
  margin-bottom: 50px;
}

input {
  width: 200px;
  margin-left: 50px;
}

.buntop {
  margin-bottom: -10px;
  padding-left: 45px;
}

.bunbutt {
  margin-top: -25px;
  padding-left: 45px;
}
.container {
  min-width: 992px;
}

a {
  color: gray;
}

a:hover {
  color: wheat;

}

@media (max-width: 1200px) {
  #subBox {
    margin-bottom: 80px;
  }

  .buntop {
    padding-left: 35px;
  }

  .bunbutt {
    padding-left: 40px;
  }

}